<footer>
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
          <div class="col-md-4 offset-md-4">
            <p class="copyright">&copy Copyright Barbería Grisziel 2024</p>
          </div>
        </div>
    </div>
  
</footer>