<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Veritatis maiores doloribus doloremque ad ut? Quam dolor quo ea,
          laboriosam iusto id! Similique inventore illum voluptatibus nesciunt dolores odit atque,
           consequatur non ducimus deserunt! Deserunt quam vel consectetur ducimus placeat 
           aspernatur delectus illum earum, adipisci quo ex iure amet, reprehenderit hic? 
           Delectus hic ipsam reprehenderit illo officia temporibus eius inventore.
            Mollitia quod sit voluptas laudantium, quisquam ducimus accusamus 
            distinctio dolore itaque? Eos est voluptates necessitatibus esse expedita!
             Quibusdam at voluptas in, voluptate consectetur eveniet adipisci. 
             Eos sequi nihil quae, quo voluptate reiciendis 
             facere soluta delectus aut vero minima velit neque officiis.</p>
</footer>